@media (max-width: 1249.98px) {
	
	nav a {
		padding: 15px 8px !important; 
		margin: 33px 8px !important; 
	}

}

@media (max-width: 1099.98px) {
	
	nav a {
		font-size: 16px !important;
		padding: 15px 6px !important; 
		margin: 35px 6px !important; 
	}

}

@media (max-width: 1099.98px) {
	
	form[role="search"] {
		display: none !important;
	}

}