// out: style.css
// VARS
@import 'vars.less';

// FONTS
@import url('https://fonts.googleapis.com/css?family=Arvo:400,700');
@import url('https://cdn.materialdesignicons.com/3.0.39/css/materialdesignicons.min.css');

// FIXES
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

// STYLES
body {
  background-image: url('../img/bg.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: @bodyColor;
  color: @bodyText;
  font-family: 'Arvo', serif;
  font-size: 16px;
  display: grid;
  grid-template-rows: auto auto 1fr;
  min-height: 100vh;
}
header {
  background-image: url('../img/stripes.svg');
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  background-color: rgba(0,0,0,0.6);

  & .grid-wrapper {
    grid-template-columns: auto 1fr auto;
  }
  & img.logo {
    height: 60px;
    margin: 20px 0px;
  }
}
main {
  margin-top: 70px;
  margin-bottom: 70px;

  &.feed {
    display: grid;
    grid-gap: 50px;

    & article {
      & .grid-wrapper {
        grid-template-rows: auto 1fr;
        grid-template-columns: 1fr 350px;
        grid-gap: 25px;

        & > h1 {
          font-size: 2.5em;
          grid-column: 1 / span 2;
        }
        & .preview-image {
          min-height: 400px;
          overflow: hidden;

          & img {
            width: 100%;
            transition: transform 0.3s ease-in-out;
            will-change: transform;
          }
          &:hover img {
            transform: scale(1.25) rotate(10deg);
          }
        }
        & .feed-sidebar {
          & h1 {
            font-size: 1.75em;
            margin-bottom: 10px;
          }
          & p {
            margin-bottom: 10px;
            line-height: 1.5;
          }
          & button {
            background: @colorMain;
            color: @bodyText;
            padding: 10px 25px;
            font-size: 18px;
            margin-bottom: 10px;
            border: 2px solid transparent;
            transition: 0.15s ease all;

            &:hover {
              background: @bodyText;
              color: @bodyColor;
              cursor: pointer;
            }
            &:active {
              border-color: @bodyColor;
            }
            &:focus {
              outline: 0;
            }
          }
          & img {
            display: block;
            width: 180px;
            margin: 0 auto;
            margin-top: 30px;
          }
        }
      }
    }
  }
}

footer {
  background-image: url('../img/skyline.png');
  background-position: top;
  background-size: contain;
  padding-top: 125px;
  text-align: center;
  line-height: 1.5;

  & a {
    display: inline-block;
    color: @bodyText;
    margin-top: 10px;
    padding: 5px 10px;
    color: @colorMain;

    &:hover {
      text-decoration: none;
    }
  }
}

aside.cart {
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: -320px;
  width: 320px;
  background: rgba(0,0,0,0.9);
}

// GRID
.grid-wrapper {
  width: 90%;
  max-width: 1140px;
  margin: 0 auto;
  display: grid;
}
