// out: style.css
// VARS
@import 'vars.less';

// FONTS
@import url('https://fonts.googleapis.com/css?family=Arvo:400,700');
@import url('https://cdn.materialdesignicons.com/3.0.39/css/materialdesignicons.min.css');

// FIXES
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

// STYLES
body {
  background-image: url('../img/bg.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: @bodyColor;
  color: @bodyText;
  font-family: 'Arvo', serif;
  font-size: 16px;
  display: grid;
  grid-template-rows: auto auto 1fr;
  min-height: 100vh;

  button, input[type="button"], input[type="submit"] {
    background: @colorMain;
    color: @bodyText;
    padding: 10px 25px;
    font-size: 18px;
    margin-bottom: 10px;
    border: 2px solid transparent;
    transition: 0.15s ease all;

    &:hover {
      background: @bodyText;
      color: @bodyColor;
      cursor: pointer;
    }
    &:active {
      border-color: @bodyColor;
    }
    &:focus {
      outline: 0;
    }
  }
}
header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 100;
  background-image: url('../img/stripes.svg');
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  background-color: rgba(0,0,0,0.6);

  & .grid-wrapper {
    grid-template-columns: auto 1fr auto;
    grid-gap: 50px;
  }
  & img.logo {
    height: 60px;
    margin: 20px 0px;
    transition: 0.6s ease height;
  }
  & nav {
    display: flex;
    align-items: center;

    & a {
      padding: 10px 15px;
      color: @bodyText;
      font-size: 1.15em;
      font-weight: bold;
      text-decoration: none;
      transition: 0.2s ease all;

      &:hover {
        color: @colorMain;
      }
    }
  }
  & .customer-region {
    display: flex;
    align-items: center;

    & a {
      padding: 10px 15px;
      color: @bodyText;
      font-size: 1.5em;
      font-weight: bold;
      text-decoration: none;
      transition: 0.2s ease all;
      display: flex;
      align-items: center;

      &:hover {
        color: @colorMain;
      }
      & i {
        margin-right: 10px;
      }
      & span {
        font-size: 0.75em;
      }
    }
  }
  &.headerFixed img.logo {
    height: 35px;
  }
}
.headerSpace {
  width: 100%;
}
main {
  margin-top: 70px;
  margin-bottom: 70px;

  &.feed {
    display: grid;
    grid-gap: 50px;

    & article {
      & .grid-wrapper {
        grid-template-rows: auto 1fr;
        grid-template-columns: 1fr 350px;
        grid-gap: 25px;

        & > h1 {
          font-size: 2.5em;
          grid-column: 1 / span 2;
        }
        & .preview-image {
          min-height: 400px;
          overflow: hidden;

          & img {
            width: 100%;
            transition: transform 0.3s ease-in-out;
            will-change: transform;
          }
          &:hover img {
            transform: scale(1.25) rotate(10deg);
          }
        }
        & .feed-sidebar {
          & h1 {
            font-size: 1.75em;
            margin-bottom: 10px;
          }
          & p {
            margin-bottom: 10px;
            line-height: 1.5;
          }
          & img {
            display: block;
            width: 180px;
            margin: 0 auto;
            margin-top: 30px;
          }
        }
      }
    }
  }
  &.login {
    display: grid;
    grid-gap: 50px;

    & .grid-wrapper {
      grid-template-columns: 1fr 350px;
      grid-gap: 25px;

      & .login-image {
        min-height: 400px;
        background-image: url('../img/feed-merch-soon.jpg');
        background-size: cover;
      }
      & .login-sidebar {
        & h1 {
          font-size: 1.75em;
          margin-bottom: 10px;
        }
        & p {
          margin-bottom: 10px;
          line-height: 1.5;
        }
        & form {
          & input {
            display: block;
            margin-bottom: 10px;

            &[type="email"], &[type="password"] {
              width: 100%;
              background: @bodyText;
              color: @bodyColor;
              padding: 10px 25px;
              font-size: 16px;
              border: 2px solid @bodyColor;
              transition: 0.15s ease all;

              &:hover {
                background: #eee;
              }
              &:focus {
                outline: 0;
                border-color: @colorMain;
              }
            }
          }
        }
        & img {
          display: block;
          width: 180px;
          margin: 0 auto;
          margin-top: 30px;
        }
      }
    }
  }
  &.shirts {
    display: grid;
    grid-gap: 50px;

    & .grid-wrapper {

      & > h1 {
        font-size: 2.5em;
      }
      & .renders {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px;
        margin-top: 15px;
        width: 100%;

        & .render {
          height: 400px;
          width: 100%;
          display: grid;
          grid-template-rows: 1fr auto;
          grid-gap: 10px;

          & .shirt-preview {
            height: 100%;
            width: 100%;
            background-image: url('../img/shirt_background.png');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            display: flex;
            justify-content: center;
            align-items: center;

            & img {
              height: 400px;
              transition: 0.3s ease all;
              will-change: transform;
            }

            &:hover img {
              transform: scale(1.15) rotate(-4deg);
            }
          }
          & h2 {
            font-size: 1.25em;
            margin: 0 auto;
          }
        }
      }
    }
  }
  &.product {
    & .grid-wrapper {
      grid-template-columns: 1fr 350px;

      & .preview {
        background-image: url('../img/shirt_background.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;

        & img {
          height: 770px;
          margin-top: -50px;
          transition: 0.3s ease all;
          will-change: transform;
        }

        &:hover img {
          transform: scale(1.15) rotate(-4deg);
        }
      }
      & aside {
        & h1 {
          font-size: 1.75em;
          margin-bottom: 10px;
        }
        & p {
          margin-bottom: 10px;
          line-height: 1.5;
        }
        & .price {
          margin-bottom: 30px;

          & span {
            display: block;
            font-size: 3em;
            color: @colorMain;
            font-weight: bold;
            margin-bottom: 5px;
          }
        }
        & form {
          & input, select {
            display: block;
            margin-bottom: 10px;

            &:not([type="submit"]) {
              width: 100%;
              background: @bodyText;
              color: @bodyColor;
              padding: 10px 25px;
              font-size: 16px;
              border: 2px solid @bodyColor;
              transition: 0.15s ease all;

              &:hover {
                background: #eee;
              }
              &:focus {
                outline: 0;
                border-color: @colorMain;
              }
            }
          }
        }
        & .not-logged-in {
          font-weight: bold;
          background: @colorMain;
          padding: 15px;
        }
      }
    }
  }
  &.checkout {
    display: grid;
    grid-gap: 50px;

    & .grid-wrapper {
      grid-gap: 25px;

      & > h1 {
        font-size: 2.5em;
      }
      & .cart {
        width: 100%;
        border: 2px solid #fff;

        & .item {
          padding: 5px 0px;
          width: 100%;
          display: grid;
          grid-template-columns: 60px 1fr auto auto auto;
          grid-gap: 15px;
          align-items: center;

          & .preview {
            display: flex;
            justify-content: center;

            & img {
              height: 60px;
            }
          }
          & .actions {
            & button {
              padding: 5px 10px;
              font-size: 0.85em;
              margin-bottom: 0px;
            }
          }
          &:nth-child(even) {
            background: rgba(255,255,255,0.1);
          }
        }
      }
      & .total {
        text-align: right;

        & span {
          display: block;
          font-size: 3em;
          color: @colorMain;
          font-weight: bold;
          margin-bottom: 5px;
        }
      }
      & form {
        display: grid;
        grid-gap: 15px;

        & label {
          display: block;
          font-size: 1.15em;
          margin-bottom: 5px;
        }
        & input:not([type="submit"]) {
          width: 100%;
          background: @bodyText;
          color: @bodyColor;
          padding: 10px 25px;
          font-size: 16px;
          border: 2px solid @bodyColor;
          transition: 0.15s ease all;

          &:hover {
            background: #eee;
          }
          &:focus {
            outline: 0;
            border-color: @colorMain;
          }
        }
      }
    }
  }
}

footer {
  background-image: url('../img/skyline.png');
  background-position: top;
  background-size: contain;
  padding-top: 150px;
  padding-bottom: 50px;
  text-align: center;
  line-height: 1.5;

  & a {
    display: inline-block;
    color: @bodyText;
    margin-top: 10px;
    padding: 5px 10px;
    color: @colorMain;

    &:hover {
      text-decoration: none;
    }
  }
}

aside.cart {
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: -320px;
  width: 320px;
  background: rgba(0,0,0,0.9);
}

// GRID
.grid-wrapper {
  width: 90%;
  max-width: 1140px;
  margin: 0 auto;
  display: grid;
}
